<div class="container">
  <p style="margin-top: 30px;"><%= link_to "Back", languages_path, class: "btn btn-primary" %></p>

  <% cache @language do %>
    <h1><%= @language.name %></h1>
    <p><%= @language.description %></p>

    <h4>Reviews:</h4>
    <ul>
      <%= render(@language.reviews, cached: true) || "No reviews yet... Add your own!" %>
    </ul>
  <% end %>

  <%= simple_form_for [@language, @review] do |f| %>
    <%= f.input :content %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
