<div class="container">
  <p style="margin-top: 30px;"><%= link_to "Back", languages_path, class: "btn btn-primary" %></p>
  <h1><%= @language.name %></h1>
  <p><%= @language.description %></p>

  <h4>Reviews:</h4>
  <ul>
    <%= render(@language.reviews) || "No reviews yet... Add your own!" %>
  </ul>

  <%= simple_form_for [@language, @review] do |f| %>
    <%= f.input :content %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
